body {
background-color: #54BA2A;
border: 2px solid Gray;
border-radius: 16px;
font-family: courier new;
margin-left: auto;
margin-right: auto;
max-width: 1024px;
min-width: 256px;
padding-top: 8px;
padding-bottom: 24px;
padding-left: 24px;
padding-right: 24px;
}
html {
background: #111111;
background-size: 8px 8px;
}
